body {
    margin: 0px;
    padding: 0px;
    background-color: #4D4D4D;
    color: white;
}

.jumbotron {
    margin-top: 40px;
}

.background {
    width: 100%;
}

.call-to-action {
    text-align: center;
}

.events {
    text-align: center;
}

.card {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 350px;
    min-width: 280px;
}

.card-img-top {
    height: 250px;
}

.testimonials {
    text-align: center;
}

.testimonial-quotes > .card {
    text-align: justify;
}


footer {
    padding: 25px;
    color: black;
    background-color: #FFFAF4;
    height: fit-content;
}

.copyright {
    clear: both;
    padding-top: 50px;
    text-align: center;
}


.login-register {
    margin-top: 100px;
    margin-bottom: 100px;
}

.large-quote {
    margin-top: 100px;
}

.owners {
    max-width: 350px;
}

.about {
    margin-top: 100px;
}

.gym-img {
    width: 100%;
}